<!DOCTYPE html>
<html>
  <head>
    <title>Avtonet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'theme.min', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="http://torba.serbus.si/datoteke/discord.css" />
    <link rel="stylesheet" href="http://torba.serbus.si/datoteke/header.css" />


  </head>

  <body class="bg-dark">
  <%= render 'layouts/header' %>
  <%= yield %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://sweetalert2.all.min.js"></script>
</html>
